// Заголовки, загальні БЕМ блоки та інше...

.title {
	font-weight: 600;
	@include adaptiveValue("font-size", 32, 16);
	line-height: math.div(42, 32);
	color: $brownColor;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		width: rem(138);
		height: rem(15);
		top: rem(-28);
		left: rem(-10);
		background: url('img/icons/title-icon.svg');
	}

}

.hover-link {
	cursor: pointer;
	position: relative;
	transition: color 0.3s ease 0s;

	&::after {
		content: '';
		content: "";
		position: absolute;
		bottom: -3px;
		left: 0;
		width: 0;
		height: 2px;
		background-color: $brownColor;
		transition: width 0.3s ease 0s;
	}

	@media (any-hover: hover) {
		&:hover {
			color: $brownColor;

		}
	}

	@media (any-hover: hover) {
		&:hover {
			&::after {
				content: '';
				width: 100%;
			}
		}
	}
}