//====================================================================================================
.header {
	padding: rem(13) rem(0);
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 5;

	&__container {
		display: flex;
		align-items: center;

		@media (max-width:$tablet) {
			justify-content: space-between;
		}
	}

	&__logo {
		position: relative;
		z-index: 5;
		@include adaptiveValue("height", 41, 22.4);
		@include adaptiveValue("width", 146, 80);

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: fill;
		}
	}

	&__menu {
		@include adaptiveValue("padding-left", 132, 5);

		@media (max-width:$tablet) {

			padding-left: 0;
		}
	}
}

.menu {

	&__icon {}

	&__body {
		display: flex;
		@include adaptiveValue("gap", 48, 5);

		@media (max-width:$tablet) {

			position: fixed;
			flex-direction: column;
			align-items: center;

			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			transition: all 0.3s ease 0s;
			overflow: auto;
			background-color: #ffffffe7;
			padding: rem(100) rem(15) rem(30) rem(15);

			&::before {
				content: '';
				position: fixed;
				top: 0;
				left: -100%;
				width: 100%;
				transition: all 0.3s ease 0s;
				height: rem(60);
				z-index: 2;
			}

			.menu-open & {
				left: 0;

				&::before {
					left: 0;

				}
			}

		}
	}

	&__list {
		display: flex;
		@include adaptiveValue("column-gap", 27, 1);
		align-items: center;

		@media (max-width:$tablet) {
			flex-direction: column;
			row-gap: rem(15);
		}

	}

	&__item {}

	&__link {

		font-weight: 500;
		@include adaptiveValue("font-size", 18, 8);
		line-height: math.div(24, 18);
		color: $brownColor;

		cursor: pointer;
		position: relative;
		transition: color 0.3s ease 0s;

		&::after {
			content: '';
			content: "";
			position: absolute;
			bottom: -3px;
			left: 0;
			width: 0;
			height: 2px;
			background-color: $brownColor;
			transition: width 0.3s ease 0s;
		}

		@media (any-hover: hover) {
			&:hover {
				color: $brownColor;

			}
		}

		@media (any-hover: hover) {
			&:hover {
				&::after {
					content: '';
					width: 100%;
				}
			}
		}
	}

	&__button {

		font-weight: 600;
		@include adaptiveValue("font-size", 14, 8);
		line-height: math.div(18, 14);
		text-transform: uppercase;
		@include adaptiveValue("padding-right", 24, 5);
		@include adaptiveValue("padding-left", 24, 5);
		@include adaptiveValue("padding-top", 20, 20);
		@include adaptiveValue("padding-bottom", 20, 20);

		color: $greenColor;
		background: rgba(255, 255, 255, 0.6);
		border: rem(2) solid $greenColor;
		border-radius: rem(5);
		transition: all 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				background-color: $greenColor;
			}
		}

		@media (max-width:$tablet) {
			width: fit-content;
		}
	}
}

.icon-menu {}

//====================================================================================================

//Burger

.icon-menu {
	display: none;

	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;

		@media (any-hover: none) {
			cursor: default;
		}

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: $greenColor;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: calc(50% - rem(1));
		}

		.menu-open & {
			span {
				width: 0;
			}

			&::before,
			&::after {}

			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}