@use "sass:math";

// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Підключення шрифтів ===========================================================================================================================================================================================================================================================================
//&display=swap - додати при підключенні через плагін
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,600&display=swap);
// Підключити, якщо є локальні файли шрифтів
//@import "fonts/fonts";

// Підключення іконкових шрифтів ==============================================================================================================================================================================================================================================================================
// Підключити, якщо є файл іконкового шрифту
//@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Налаштування шаблону ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: "Montserrat";
$fontSize: rem(18); // де 18(px) - розмір шрифту за замовчуванням з макету

// Основні кольори
$mainColor: #25282B; // Колір шрифту за замовчуванням
$brownColor: #7E4E24;
$greenColor: #697B03;
// Палітра кольорів
// @import "base/colors-palette";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1368;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1170;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: em($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: em(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: em(767.98); // Телефони L
$mobileSmall: em(479.98); // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {

	// Скролл заблоковано
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}

	// Сайт завантажений
	.loaded & {}
}

// Оболонка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	@supports (overflow: clip) {
		overflow: clip;
	}

	// Притискаємо footer
	>main {
		flex: 1 1 auto;
	}

	// Фікс для слайдерів
	>* {
		min-width: 0;
	}
}

// Обмежуючий контейнер ======================================================================================================================================================================================================================
/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/
@if ($responsiveType==1) {

	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
			margin: 0 auto;
		}

		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}

			@else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
}

@else {

	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;

		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
		}

		@else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}

		@media (max-width: $pc) {
			max-width: rem(970);
		}

		@media (max-width: $tablet) {
			max-width: rem(750);
		}

		@media (max-width: $mobile) {
			max-width: none;

			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

// Підключення базових стилів, шаблонів (заготівель) та допоміжних класів
// Для підключення/вимкнення конкретних стилів дивись base.scss
@import "base";

// Підключення стилів загальних елементів проекту
@import "common";

// Підключення стилів окремих блоків
@import "header";
@import "footer";

// Підключення стилів окремих сторінок
@import "home";

//========================================================================================================================================================
//pop-up

.popup {

	&__wrapper {}

	&__content {}

	&__close {}

	&__text {}

	&__link {}
}


//========================================================================================================================================================
.page {

	&__main-block {}
}

.main-block {
	padding: rem(207) rem(0) rem(279) rem(0);
	position: relative;

	&__container {
		position: relative;
		z-index: 1;
	}

	&__header {

		display: flex;
		flex-direction: column-reverse;
		gap: rem(14);
	}

	&__title {
		color: $brownColor;
		font-weight: 500;
		@include adaptiveValue("font-size", 44, 30);
		line-height: math.div(54, 44);

		span {
			color: $greenColor;
		}

	}

	&__sub-title {
		font-weight: 500;
		@include adaptiveValue("font-size", 18, 14);
		line-height: math.div(24, 18);
		letter-spacing: 0.2px;
		color: $brownColor;
	}

	&__content {
		margin-top: rem(22);
		color: $brownColor;
		font-weight: 500;
		@include adaptiveValue("font-size", 18, 14);
		line-height: math.div(24, 18);

		@include adaptiveValue("max-width", 470, 250);

	}

	&__background-image {


		img {
			position: absolute;
			top: 0;
			left: 0;
			
			width: 100%;
			min-height: rem(729);

			object-fit: cover;
		}
	}
}

//========================================================================================================================================================

.page {

	&__advertising {}
}

.advertising {

	padding: rem(180) rem(0) rem(26) rem(0);

	&__container {

		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__content {
		position: relative;



		img {



			top: 0;
			left: 0;
		}
	}
}

//========================================================================================================================================================

.page {

	&__who {}
}

.who {
	padding: rem(78) rem(0) rem(55) rem(0);

	&__container {
		display: flex;
		flex-direction: row-reverse;
		gap: rem(52);

		@media (max-width:$tablet) {
			flex-direction: column;
			align-items: center;

		}
	}

	&__body {
		margin-top: rem(30);
	}

	&__header {}

	&__title {}

	&__text {
		font-weight: 500;
		@include adaptiveValue("font-size", 18, 14);
		line-height: math.div(24, 18);
		letter-spacing: 0.2px;
		margin: rem(48) rem(0) rem(24) rem(0);
		max-width: rem(451);

	}

	&__link {
		font-weight: 500;
		@include adaptiveValue("font-size", 18, 14);
		line-height: math.div(24, 18);
		text-transform: uppercase;
		color: $brownColor;

		cursor: pointer;
		position: relative;
		transition: color 0.3s ease 0s;

		&::after {
			content: '';
			content: "";
			position: absolute;
			bottom: -3px;
			left: 0;
			width: 0;
			height: 2px;
			background-color: $brownColor;
			transition: width 0.3s ease 0s;
		}

		@media (any-hover: hover) {
			&:hover {
				color: $brownColor;

			}
		}

		@media (any-hover: hover) {
			&:hover {
				&::after {
					content: '';
					width: 100%;
				}
			}
		}

	}

	&__image {
		@include adaptiveValue("max-width", 612, 300);


		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}